h1 {
  font-size: 2rem;
  position: relative;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-weight: bold;
  text-align: center;
}

.kpititle {
  font-size: 0.9rem;
  position: relative;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-weight: bold;
  text-align: center;
}

.kpiresult {
  font-size: 0.85rem;
  position: relative;
  text-align: center;
}

button {
  width: 25%;
  height: 2.5rem;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.6rem;
  display: inline-block;
  vertical-align: top;
}

.button {
  position: relative;
  -ms-transform: translate(24.5%, 0);
  transform: translate(24.5%, 0);
  width: 100%;
}

.buttonkpi {
  position: relative;
  -ms-transform: translate(52%, 0);
  transform: translate(52%, 0);
}

.buttonlist {
  background-color: paleturquoise;
}

.buttonlist:hover {
  background-color: silver;
}

.frame {
  position: relative;
  /* -ms-transform: translate(20%, 0);
  transform: translate(20%, 0); */
  justify-items: center;
}
