h1 {
  font-size: 2.5rem;
  position: relative;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-weight: bold;
  text-align: center;
}

button {
  width: 25%;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.7rem;
}

.button {
  position: relative;
  -ms-transform: translate(10%, 20%);
  transform: translate(10%, 20%);
  width: 100%;
}

.frame {
  position: relative;
  /* -ms-transform: translate(20%, 0);
  transform: translate(20%, 0); */
  justify-items: center;
}
