h1 {
  font-size: 2.5rem;
  position: relative;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-weight: bold;
  text-align: center;
}

button {
  padding: auto;
  width: 20%;
  height: 50px;
}

.button {
  margin: auto;
  padding: auto;
  position: relative;
  -ms-transform: translate(20%, 20%);
  transform: translate(20%, 20%);
  width: 100%;
}

.frame {
  position: relative;
  /* -ms-transform: translate(20%, 0);
  transform: translate(20%, 0); */
  justify-items: center;
}
