h1 {
  font-size: 3rem;
  position: relative;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-weight: bold;
  text-align: center;
}

.kpititle {
  font-size: 1.8rem;
  position: relative;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-weight: bold;
  text-align: center;
}

.kpiresult {
  font-size: 1.5rem;
  position: relative;
  text-align: center;
}

button {
  width: 20%;
  height: 4rem;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
}

.button {
  position: relative;
  margin: auto;
  width: 100%;
  margin: auto;
}

.buttonreten {
  position: relative;
  margin: auto;
}

.buttonkpi {
  position: relative;
  margin: auto;
}

.buttonlist {
  background-color: paleturquoise;
  margin: auto;
}

.buttonlist:hover {
  background-color: silver;
}

.center1 {
  margin: 0;
  -ms-transform: translate(10%, 0%);
  transform: translate(10%, 0%);
}

.center2 {
  margin: 0;
  -ms-transform: translate(30.25%, 0%);
  transform: translate(30.25%, 0%);
}

.center3 {
  margin: 0;
  -ms-transform: translate(40.2%, 0%);
  transform: translate(40.2%, 0%);
}

